

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


/* hello */

html {
	overflow-y: scroll; 
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  transition: .5s ease;
}
h1:hover {
  /* background-color: red; */
  cursor: pointer;
}

.form {
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  box-shadow:0 4px 10px 4px rgba(.3);
}




label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid darkgray;
}

.header-left {
  display: flex;
}

.hobby-logo {
  font-size: 55px;
  margin-right: 42px;
  margin-left: 20px
  /* margin: 10px 30px 0px 10px; */
}

.title {
  margin: 0 100px 0 0;
  font-size: 50px;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.header-right {
  display: flex;
  align-items: right;
}

.header-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.center-text{
  font-size: 36px;
}

/* button stuff */
.header-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 25px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.header-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.header-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.header-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.header-button:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.bheader-button:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.header-button:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* button stuff

/* button stuff */


input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border-radius:0;
}

.sign-header-container {
  display: flex;
  margin-bottom: 20px;
}

.create-signup-box {
  flex: 1;
  padding: 10px;
  border: 0.2px solid;
  background-color: #234F1E;
  transition: background-color 0.3s ease;
}

.create-signup-box h1 {
  color: white;
}

.create-login-box {
  flex: 1;
  padding: 10px;
  border: 1px solid;
  transition: background-color 0.3s ease;
}

.create-login-box h1 {
  color: #234F1E;
}

.create-login-box:hover {
  background-color: #234F1E;
  cursor: pointer;
}

.create-login-box:hover h1{
  color: white;
}

.create-login-box:hover ~ .create-signup-box{
  background-color: white;
  cursor: pointer;
}

.create-login-box:hover ~ .create-signup-box h1{
  color: #234F1E;
}

/* hey */

.signup-box {
  flex: 1;
  padding: 10px;
  border: 0.2px solid;
  background-color: #234F1E;
  transition: background-color 0.3s ease;
}
.signup-box:hover {
  background-color: red;
}

.signup-box h1 {
  color: white;
}

.login-box {
  flex: 1;
  padding: 10px;
  border: 1px solid;
  transition: background-color 0.3s ease;
}

.login-box h1 {
  color: #234F1E;
}

.login-box:hover {
  background-color: #234F1E;
  cursor: pointer;
}

.login-box:hover h1{
  color: white;
}

.login-box:hover ~ .signup-box{
  background-color: white;
  cursor: pointer;
}

.login-box:hover ~ .signup-box h1{
  color: white;
}

.signup-box:hover ~ .login-box h1{
  color: white;
}

.signup-box:hover ~ .login-box{
  background-color: red;
}
/* 
.signup-box:hover ~ .login-box{
  background-color: white;
  cursor: pointer;
}

.signup-box:hover ~ .login-box h1{
  color: #234F1E;
} */


