.community-page {
    display: flex;
}

.hobby-posts {
    border: 2px red solid;
    padding: 400px;
    padding-right: 600px;
    margin-right: 10px;
}

.events {
    border: 2px red solid;
    padding: 170px;
}