
.user-pass input {
    width: 1060px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.back-logo {
  font-size: 50px;
  color: black;
  margin: 20px;
  padding: 20px;
}

.back-logo:hover {
  color: blue;
}

.login-header {
  display: flex;
  justify-content: space-between;
  width: 55%;
  /* border: 2px red solid; */
}

.login-title {
  font-size: 90px;
}

.username-input {
  display: flex;
  font-size: 30px;

}

.password-input {
  display: flex;
  font-size: 30px;
}

.username {
  margin-right: 50px;
}

/* .login-btns {
  display: flex;
} */