.hobby-btn h2{
    /* margin: 0.75em; */
    padding: 1.35em 1.1em;
    width: 15em;
    /* background: #fffce1; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    border-top-left-radius: 20px 50px;
    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 20px 50px;
    border-bottom-left-radius: 20px 50px;
    cursor: pointer;
}

.hobby-btn {
    border-top-left-radius: 20px 50px;
    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 20px 50px;
    border-bottom-left-radius: 20px 50px;
}

.hobbies-select {
    font-size: 1em;
    max-width: 1200px;
    margin: 2em auto 3em;
    padding: 0 10em;
    
}

.hobby-btn h2:hover {
    color: #c94e50;
}