.fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.fullname input {
    width: 500px;
}

.user-pass input {
    width: 1060px;
    margin-bottom: 20px;
    height: 40px;

}

input {
  border: 2px solid darkgray;
}

.back-logo {
  font-size: 50px;
  color: black;
  margin: 20px;
  padding: 20px;
}

.back-logo:hover {
  color: blue;
}

.create-header {
  display: flex;
  justify-content: space-between;
  width: 55%;
  /* border: 2px red solid; */
}

.create-title {
  font-size: 90px;
}